

  <section class="container">
    <p>
      © All content on this site is protected by copyright of Edward Montgomery Fine Art. Neither redistribution nor reproduction of visual and/or written content is permitted without the prior expressed written consent of Edward Montgomery Fine Art.
    </p>
  </section>

<footer class="container">
  <p>Edward Montgomery Fine Art</p>
  <p>Dolores Street 4SW Ocean Avenue - Carmel-by-the-Sea, California  93921</p>
  <p>(831) 622-9292 | email: <a href="mailto:emfa@redshift.com">emfa@redshift.com</a></p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="ZGQ3ZWNlYjItOTQwMy00NmFlLTk2NDgtMzRhZjQ2N2I0OGJmNjM2NDkzOTY4ODMyNTMwOTAx"></script>

<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />


<!-- <noscript id="deferred-styles">
      <link rel="stylesheet" type="text/css" href="small.css"/>
    </noscript>
    <script>
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
          window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    </script> -->
</body>

</html>
