<section class="card">
  <div>
    <img src="{{ .image }}" alt="{{ .name }}">
  </div>

  <div class="text">
    <h3>{{ .name }}</h3>
    <p>{{ .description }}</p>
     <p><strong>${{ .price }}</strong> USD, free shipping for continental U.S. orders. Please call for international or non-continental orders.</p>
    <button class="snipcart-add-item" data-item-id="{{ .id }}" 
            data-item-name="{{ .name }}" 
            data-item-price="{{ .price }}" 
            data-item-url="{{ .url }}">
                    <i class="material-icons">shopping_cart</i>
                    Add to cart
            </button>
  </div>
</section>