 {{ partial "header" . }}


<section class="container vertical center">
  <div>
    <h2>
  Welcome the the world of Captain Kenny Neizman
  </h2>
  <p>
    A legendary artist on the Island of Maui, Hawaii, "Captain Kenny" became known as the "Picasso of the Pacific".
  </p>
  </div>
<!-- 
  <div>
      <img class="framed" src="http://edwardmontgomeryfineart.com/artists/captainkenny_neizman/art2_limited_edition/aloha_fish/@@viewart/The%20Aloha%20Fish.jpg" />
  </div> -->
</section>

<!-- <section class="container"><h2 class="center">Store</h2></section> -->

{{ $products := getJSON "/data/products.json" }}

<div class="cards">
  
  {{ range $products }} {{ partial "product.html" . }} {{ end }}
</div>



{{ partial "footer" . }}